@media screen and (min-width: 300px) {
  .wrapper .main-content .render-cont {
    padding: 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../img/home-top-bg.jpg);
    background-size: cover;
    background-position: center;
    display: none;
  }
  .wrapper .main-content .render-cont .image-cont {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .wrapper .main-content .render-cont .image-cont img {
    width: 100%;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left, .wrapper .main-content .render-cont .image-cont .button-content-top-right {
    -webkit-transform-origin: center;
            transform-origin: center;
    width: 220px;
    height: 65px;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .button, .wrapper .main-content .render-cont .image-cont .button-content-top-right .button {
    margin-left: auto;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: #3fb0e4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    line-height: 0;
    border-radius: 50%;
    padding: 0;
    -webkit-filter: saturate(3);
            filter: saturate(3);
    -webkit-box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .button p, .wrapper .main-content .render-cont .image-cont .button-content-top-right .button p {
    padding: 0;
    margin: 0 auto;
    line-height: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .shape, .wrapper .main-content .render-cont .image-cont .button-content-top-right .shape {
    -webkit-filter: saturate(3);
            filter: saturate(3);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    height: 30px;
    position: absolute;
    width: 220px;
    border-top: 3px solid #3fb0e4;
    opacity: 0;
    bottom: 20%;
    left: 10px;
    padding-top: 15px;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .shape:before, .wrapper .main-content .render-cont .image-cont .button-content-top-right .shape:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3fb0e4;
    position: absolute;
    top: -5px;
    left: 0;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .shape .text .title, .wrapper .main-content .render-cont .image-cont .button-content-top-right .shape .text .title {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #515151;
    opacity: 0;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .shape .text .desc, .wrapper .main-content .render-cont .image-cont .button-content-top-right .shape .text .desc {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    line-height: 1.1;
    font-weight: 100;
    font-size: 16px;
    color: #adadad;
    opacity: 0;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-bottom-left .button {
    bottom: 35%;
    left: 30%;
  }
  .wrapper .main-content .render-cont .image-cont .button-content-top-right .button {
    top: 15%;
    right: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .render-cont {
    padding: 60px;
    padding-top: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../img/home-top-bg.jpg);
    background-size: cover;
    background-position: center;
  }
  .render-cont .image-cont {
    width: 800px;
    max-width: 800px;
    margin: auto;
    position: relative;
  }
  .render-cont .image-cont img {
    width: 100%;
  }
  .render-cont .image-cont .button-content-bottom-left, .render-cont .image-cont .button-content-top-right {
    -webkit-transform-origin: center;
            transform-origin: center;
    position: relative;
    width: 235px;
    height: 65px;
  }
  .render-cont .image-cont .button-content-bottom-left .button, .render-cont .image-cont .button-content-top-right .button {
    margin-left: auto;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: #3fb0e4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    line-height: 0;
    border-radius: 50%;
    padding: 0;
    -webkit-filter: saturate(3);
            filter: saturate(3);
    -webkit-box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.5);
  }
  .render-cont .image-cont .button-content-bottom-left .button p, .render-cont .image-cont .button-content-top-right .button p {
    padding: 0;
    margin: 0 auto;
    line-height: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .render-cont .image-cont .button-content-bottom-left .shape, .render-cont .image-cont .button-content-top-right .shape {
    -webkit-filter: saturate(3);
            filter: saturate(3);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    position: relative;
    opacity: 0;
    width: 0;
    height: 30px;
  }
  .render-cont .image-cont .button-content-bottom-left .shape:before, .render-cont .image-cont .button-content-top-right .shape:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3fb0e4;
    position: absolute;
    -webkit-transform: skewX(25deg);
            transform: skewX(25deg);
  }
  .render-cont .image-cont .button-content-bottom-left .shape .text, .render-cont .image-cont .button-content-top-right .shape .text {
    width: calc(100% + 30px);
  }
  .render-cont .image-cont .button-content-bottom-left .shape .text .title, .render-cont .image-cont .button-content-top-right .shape .text .title {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #515151;
  }
  .render-cont .image-cont .button-content-bottom-left .shape .text .desc, .render-cont .image-cont .button-content-top-right .shape .text .desc {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    line-height: 1.1;
    font-weight: 100;
    font-size: 16px;
    color: #adadad;
  }
  .render-cont .image-cont .button-content-bottom-left {
    -webkit-transform: translate3d(10%, -180%, 0) perspective(10px);
            transform: translate3d(10%, -180%, 0) perspective(10px);
  }
  .render-cont .image-cont .button-content-bottom-left .shape {
    margin-left: auto;
    border-bottom: 3px solid #3fb0e4;
    border-right: 3px solid #3fb0e4;
    -webkit-transform: skewX(-25deg) translateY(-5px) translateX(-30px);
            transform: skewX(-25deg) translateY(-5px) translateX(-30px);
  }
  .render-cont .image-cont .button-content-bottom-left .shape:before {
    bottom: -4px;
    left: -3px;
  }
  .render-cont .image-cont .button-content-bottom-left .shape .text {
    -webkit-transform: skewX(25deg);
            transform: skewX(25deg);
    margin-left: 30px;
    padding-top: 40px;
  }
  .render-cont .image-cont .button-content-top-right {
    -webkit-transform: translate3d(165%, -600%, 0) perspective(10px);
            transform: translate3d(165%, -600%, 0) perspective(10px);
  }
  .render-cont .image-cont .button-content-top-right .shape {
    margin-right: auto;
    margin-left: 10px;
    border-top: 3px solid #3fb0e4;
    border-left: 3px solid #3fb0e4;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: skewX(-25deg) translateY(-63px) translateX(180px);
            transform: skewX(-25deg) translateY(-63px) translateX(180px);
  }
  .render-cont .image-cont .button-content-top-right .shape:before {
    top: -4px;
    right: -3px;
  }
  .render-cont .image-cont .button-content-top-right .shape .text {
    -webkit-transform: translateY(-120px) skewX(25deg);
            transform: translateY(-120px) skewX(25deg);
    margin-left: -30px;
  }
}

@media screen and (min-width: 300px) {
  .wrapper {
    position: relative;
    margin: 0;
    /*
        .sidebar-content {
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 15px;

            &.stickToBottom {
                position: absolute;
                top: unset;
                bottom: 0;
                height: 100vh;
            }

            .sidebar {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    bottom: calc(100% + 50px);
                    right: 0;
                    background-color: #fff;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    top: calc(100% + 50px);
                    right: 0;
                    background-color: #fff;
                }
            }

            .menu {
                list-style: none;
                padding: 0;
                margin: 0;
                position: relative;

                li {
                    text-align: right;
                    margin: 16px 0;

                    a {
                        padding: 1px 5px;
                        font-size: 13px;
                        font-weight: 100;
                        color: white;
                        text-decoration: none;
                        transition: background 400ms;

                        &:hover {
                            background-color: #4eadd7;
                        }
                    }
                }
            }
        }
*/
  }
  .wrapper .main-content .middle-logos-cont {
    width: 100%;
    height: auto;
    padding: 120px 0;
    background: white;
  }
  .wrapper .main-content .middle-logos-cont .container {
    background-color: #fff;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    padding: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .wrapper .main-content .middle-logos-cont .container .title {
    color: #0099cc;
    font-size: 30px;
    font-weight: 900;
    -webkit-filter: saturate(1.2);
            filter: saturate(1.2);
  }
  .wrapper .main-content .middle-logos-cont .container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px;
    padding: 12px 35px;
    background: transparent;
    border: 2px solid #515151;
    color: #515151;
    font-size: 22px;
    text-decoration: none;
    border-radius: 25px;
    margin: 0 auto;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .wrapper .main-content .middle-logos-cont .container a:hover {
    color: white;
    background: #515151;
  }
  .wrapper .main-content .middle-logos-cont .container .logos {
    margin: 0 auto;
    margin-top: 40px;
  }
  .wrapper .main-content .middle-logos-cont .container .logos img {
    display: block;
    max-height: 50px;
    max-width: 120px;
    margin: 60px auto;
  }
  .wrapper .main-content .grid-container {
    background-image: url(../img/home-bottom-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px 20px;
  }
  .wrapper .main-content .grid-container .grid-posts {
    margin: 0 auto;
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin-bottom: 60px;
  }
  .wrapper .main-content .grid-container .grid-posts:before {
    content: '';
    position: absolute;
    top: 30%;
    z-index: 0;
    width: 100%;
    height: 70%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }
  .wrapper .main-content .grid-container .grid-posts .item {
    text-decoration: none;
    margin: 10px;
    width: calc(50% - 20px);
    height: 280px;
    background-image: url(../img/slider-bg.jpg);
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .wrapper .main-content .grid-container .grid-posts .item .title-box {
    height: auto;
    padding: 10px 15px;
    background-color: #f9f9f9;
    position: relative;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    width: 100%;
  }
  .wrapper .main-content .grid-container .grid-posts .item .title-box .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: #515151;
  }
  .wrapper .main-content .grid-container .grid-posts .item .title-box .desc {
    display: none;
  }
  .wrapper .main-content .grid-container .grid-posts .item .overlay {
    position: absolute;
    height: 100%;
    max-height: 85px;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding: 20px;
    left: 0%;
    z-index: 10;
    background-color: #f9f9f9;
    color: black;
    -webkit-transition: max-height 200ms linear, left 400ms ease 500ms, width 0ms linear;
    transition: max-height 200ms linear, left 400ms ease 500ms, width 0ms linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .main-content .grid-container .grid-posts .item .overlay .title {
    opacity: 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    color: #515151;
    -webkit-transition: opacity 400ms ease-in-out 350ms;
    transition: opacity 400ms ease-in-out 350ms;
  }
  .wrapper .main-content .grid-container .grid-posts .item .overlay .desc {
    font-weight: 100;
    opacity: 0;
    font-size: 20px;
    color: #adadad;
    -webkit-transition: opacity 400ms ease-in-out 450ms;
    transition: opacity 400ms ease-in-out 450ms;
    line-height: 1.1;
  }
  .wrapper .main-content .grid-container .contact-block {
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
  }
  .wrapper .main-content .grid-container .contact-block:before {
    content: '';
    height: 100%;
    width: 100%;
    background: #239bd0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(35, 155, 208, 0.85)), to(rgba(0, 128, 182, 0.85)));
    background: linear-gradient(90deg, rgba(35, 155, 208, 0.85) 0%, rgba(0, 128, 182, 0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 20px;
  }
  .wrapper .main-content .grid-container .contact-block:after {
    content: '';
    position: absolute;
    top: 90%;
    left: 15%;
    z-index: 0;
    width: 70%;
    height: 20%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  .wrapper .main-content .grid-container .contact-block .column {
    z-index: 10;
  }
  .wrapper .main-content .grid-container .contact-block .column:first-child .titlee {
    font-weight: 900;
    font-size: 30px;
  }
  .wrapper .main-content .grid-container .contact-block .column:first-child .desc {
    margin-top: 10px;
    font-weight: 100;
    font-size: 18px;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child label {
    font-weight: 100;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child input {
    border: none;
    border-radius: 10px;
    height: 35px;
    background-color: #fff;
    padding: 5px;
    width: 100%;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child input[type="submit"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 2px 20px;
    font-weight: 900;
    color: white;
    font-size: 18px;
    background: #35b1e5;
    -webkit-box-shadow: 0 0 0 0 #35b1e5;
            box-shadow: 0 0 0 0 #35b1e5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child input[type="submit"]:hover {
    background: white;
    color: #35b1e5;
  }
  .wrapper .side-menu {
    background-color: #191919;
    width: 110px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    /*
        .sidebar-content {
            position: fixed;
            width: 110px;
            right: 0;
            top: 0;
            z-index: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 15px;

            &.inner {
                .sidebar {
                    &:before, &:after {
                        background-color: #fff;
                    }

                    .menu {
                        li {
                            a {
                                color: white;
                            }
                        }
                    }

                    .social-container {
                        a {
                            img {
                                filter: invert(0);
                            }
                        }
                    }
                }
            }

            &:not(.inner) {
                background: #191919;
            }

            .sidebar {
                position: relative;

                .social-container {
                    a {
                        img {
                            filter: invert(0);
                        }
                    }
                }
            }

            &.stickToBottom {
                position: absolute;
                top: unset;
                bottom: 0;
                height: 100vh;
            }

            .menu {
                list-style: none;
                padding: 0;
                margin: 0;
                position: relative;

                li {
                    text-align: right;
                    margin: 16px 0;

                    a {
                        padding: 1px 5px;
                        font-size: 13px;
                        font-weight: 100;
                        color: #fff;
                        text-decoration: none;
                        transition: background 400ms;

                        &:hover {
                            background-color: #4eadd7;
                        }
                    }
                }
            }
        }
*/
  }
  .wrapper .clip {
    background-color: #0000;
  }
  .wrapper .main-content {
    width: calc(100% - 90px);
  }
  .wrapper .main-content .middle-logos-cont {
    width: 100%;
    height: auto;
  }
  .wrapper .main-content .middle-logos-cont .container {
    background-color: #fff;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .wrapper .main-content .middle-logos-cont .container .title {
    color: #0099cc;
    font-size: 30px;
    font-weight: 900;
    -webkit-filter: saturate(1.2);
            filter: saturate(1.2);
  }
  .wrapper .main-content .middle-logos-cont .container .logos {
    margin: 0 auto;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .main-content .middle-logos-cont .container .logos img {
    max-height: 60px;
    max-width: 130px;
    margin: 0;
  }
  .wrapper .main-content .grid-container {
    background-image: url(../img/home-bottom-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px 20px;
  }
  .wrapper .main-content .grid-container .grid-posts {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .wrapper .main-content .grid-container .grid-posts:before {
    content: '';
    position: absolute;
    top: 30%;
    z-index: 0;
    width: 100%;
    height: 70%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }
  .wrapper .main-content .grid-container .grid-posts .item {
    text-decoration: none;
    margin: 10px;
    width: calc(33% - 20px);
    height: 280px;
    background-image: url(../img/slider-bg.jpg);
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .wrapper .main-content .grid-container .grid-posts .item .title-box {
    height: 85px;
    padding: 10px 15px;
    background-color: #f9f9f9;
    position: relative;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  .wrapper .main-content .grid-container .grid-posts .item .title-box .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: #515151;
  }
  .wrapper .main-content .grid-container .grid-posts .item .title-box .desc {
    color: #adadad;
    font-size: 12px;
    line-height: 1;
  }
  .wrapper .main-content .grid-container .grid-posts .item .overlay {
    position: absolute;
    height: 100%;
    max-height: 85px;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding: 20px;
    left: 0%;
    z-index: 10;
    background-color: #f9f9f9;
    color: black;
    -webkit-transition: max-height 200ms linear, left 400ms ease 500ms, width 0ms linear;
    transition: max-height 200ms linear, left 400ms ease 500ms, width 0ms linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .main-content .grid-container .grid-posts .item .overlay .title {
    opacity: 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    color: #515151;
    -webkit-transition: opacity 400ms ease-in-out 350ms;
    transition: opacity 400ms ease-in-out 350ms;
  }
  .wrapper .main-content .grid-container .grid-posts .item .overlay .desc {
    font-weight: 100;
    opacity: 0;
    font-size: 20px;
    color: #adadad;
    -webkit-transition: opacity 400ms ease-in-out 450ms;
    transition: opacity 400ms ease-in-out 450ms;
    line-height: 1.1;
  }
  .wrapper .main-content .grid-container .grid-posts .item:hover .title-box {
    opacity: 0;
  }
  .wrapper .main-content .grid-container .grid-posts .item:hover .overlay {
    max-height: 300px;
    opacity: 1;
    width: calc(100% + 20px);
    left: calc(-100% - 20px);
  }
  .wrapper .main-content .grid-container .grid-posts .item:hover .overlay .title {
    opacity: 1;
  }
  .wrapper .main-content .grid-container .grid-posts .item:hover .overlay .desc {
    opacity: 1;
  }
  .wrapper .main-content .grid-container .grid-posts .item:hover:not(:nth-child(3n)) .overlay {
    left: 100%;
  }
  .wrapper .main-content .grid-container .contact-block {
    padding: 20px 40px;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    position: relative;
  }
  .wrapper .main-content .grid-container .contact-block:before {
    content: '';
    height: 100%;
    width: 100%;
    background: #239bd0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(35, 155, 208, 0.85)), to(rgba(0, 128, 182, 0.85)));
    background: linear-gradient(90deg, rgba(35, 155, 208, 0.85) 0%, rgba(0, 128, 182, 0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 20px;
  }
  .wrapper .main-content .grid-container .contact-block:after {
    content: '';
    position: absolute;
    top: 90%;
    left: 15%;
    z-index: 0;
    width: 70%;
    height: 20%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  .wrapper .main-content .grid-container .contact-block .column {
    z-index: 10;
  }
  .wrapper .main-content .grid-container .contact-block .column:first-child {
    width: 60%;
    padding-right: 30px;
  }
  .wrapper .main-content .grid-container .contact-block .column:first-child .titlee {
    font-weight: 900;
    font-size: 30px;
  }
  .wrapper .main-content .grid-container .contact-block .column:first-child .desc {
    margin-top: 10px;
    font-weight: 100;
    font-size: 18px;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child {
    width: 40%;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child label {
    font-weight: 100;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child input {
    border: none;
    border-radius: 10px;
    height: 35px;
    background-color: #fff;
    padding: 5px;
    width: 100%;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child input[type="submit"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 2px 20px;
    font-weight: 900;
    color: white;
    font-size: 18px;
    background: #35b1e5;
    -webkit-box-shadow: 0 0 0 0 #35b1e5;
            box-shadow: 0 0 0 0 #35b1e5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .wrapper .main-content .grid-container .contact-block .column:last-child input[type="submit"]:hover {
    background: white;
    color: #35b1e5;
  }
}

@media screen and (max-width: 767px) {
  .wrapper .main-content .grid-container .grid-posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main-content .grid-container .grid-posts .item {
    width: calc(100% - 20px);
  }
}
