* {
  font-family: Helvetica, Arial,sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

header .site-logo {
  max-width: 200px;
}

header .site-logo img {
  width: 100%;
  height: auto;
}

footer {
  padding: 35px 15px 60px;
  min-height: 40px;
  background-color: #3f4143;
  -webkit-column-count: 5;
          column-count: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a, footer a > span.has-white-color {
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

footer a:hover, footer a > span.has-white-color:hover {
  color: #4eadd7;
}

footer p, footer a {
  color: white;
  font-size: 13px;
}

footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 13px;
  font-weight: thin;
  color: white;
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

footer .menu li a:hover {
  color: #4eadd7;
}

footer .column {
  padding: 0px 20px;
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .column:first-child {
  border-right: 2px solid white;
}

footer .column:last-child {
  border-left: 2px solid white;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3px;
  padding: 3px;
  border-radius: 3px;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

.social-container a img {
  width: 100%;
  max-width: 20px;
}

.social-container a:hover {
  background-color: #4eadd7;
}
