* {
  font-family: Helvetica, Arial,sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

header .site-logo {
  max-width: 200px;
}

header .site-logo img {
  width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  margin: 0;
}

.wrapper .sidebar-content {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
}

.wrapper .sidebar-content.stickToBottom {
  position: absolute;
  top: unset;
  bottom: 0;
  height: 100vh;
}

.wrapper .sidebar-content .sidebar {
  position: relative;
}

.wrapper .sidebar-content .sidebar:before {
  position: absolute;
  content: '';
  height: 220px;
  width: 2px;
  bottom: calc(100% + 50px);
  right: 0;
  background-color: #fff;
}

.wrapper .sidebar-content .sidebar:after {
  position: absolute;
  content: '';
  height: 220px;
  width: 2px;
  top: calc(100% + 50px);
  right: 0;
  background-color: #fff;
}

.wrapper .sidebar-content .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.wrapper .sidebar-content .menu li {
  text-align: right;
  margin: 16px 0;
}

.wrapper .sidebar-content .menu li a {
  padding: 1px 5px;
  font-size: 13px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

.wrapper .sidebar-content .menu li a:hover {
  background-color: #4eadd7;
}

.wrapper .main-content {
  width: calc(100% - 110px);
  padding: 20px;
}

.wrapper .side-menu {
  background-color: #191919;
  width: 110px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  z-index: 1000;
  position: relative;
  padding: 35px 15px 60px;
  min-height: 40px;
  background-color: #3f4143;
  -webkit-column-count: 5;
          column-count: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a, footer a > span.has-white-color {
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

footer a:hover, footer a > span.has-white-color:hover {
  color: #4eadd7;
}

footer p, footer a {
  color: white;
  font-size: 13px;
}

footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 13px;
  font-weight: thin;
  color: white;
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

footer .menu li a:hover {
  color: #4eadd7;
}

footer .column {
  padding: 0px 20px;
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .column:first-child {
  border-right: 2px solid white;
}

footer .column:last-child {
  border-left: 2px solid white;
}

.wrapper .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .social-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 3px;
  padding: 3px;
  border-radius: 3px;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

.wrapper .social-container a img {
  width: 100%;
  max-width: 20px;
}

.wrapper .social-container a:hover {
  background-color: #4eadd7;
}

footer .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3px;
  padding: 3px;
  border-radius: 3px;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

footer .social-container a img {
  width: 100%;
  max-width: 20px;
}

footer .social-container a:hover {
  background-color: #4eadd7;
}
