.wrapper .contenedor-principal {
  background-image: url(../img/bg-contact.jpg);
  background-position: center bottom;
  min-height: 100vh;
  padding: 60px 90px;
  overflow: hidden;
  padding-top: 160px;
}

.wrapper .contenedor-principal .title {
  color: #3f4143;
  font-size: 50px;
  line-height: 1;
  font-weight: bolder;
  position: relative;
  width: 100%;
}

.wrapper .contenedor-principal .title:before {
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 93px;
  width: 1000%;
  top: -35px;
  left: -70px;
  color: #0000;
  letter-spacing: -5px;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  stroke-width: 1px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: #0000;
  -webkit-text-stroke-color: #3f4143;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
  opacity: 0.3;
}

.wrapper .contenedor-principal .tabs-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.wrapper .contenedor-principal .tabs-options .item {
  padding: 5px 10px;
  margin: 0px 8px;
  color: #3f4143;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-filter: saturate(3);
          filter: saturate(3);
  text-transform: uppercase;
}

.wrapper .contenedor-principal .tabs-options .item.active {
  font-weight: bolder;
}

.wrapper .contenedor-principal .tabs-options .item:before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: #3f4143;
}

.wrapper .contenedor-principal .tabs-options .item:last-child::before {
  background-color: #0000;
}

.wrapper .contenedor-principal .tabs-options .item:hover {
  color: white;
  background-color: #3fb0e4;
}

.wrapper .contenedor-principal .tabs-content .tab {
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  opacity: 0;
}

.wrapper .contenedor-principal .tabs-content .tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child {
  padding-right: 30px;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child .image-banner {
  position: relative;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child .image-banner::before {
  content: '';
  width: 4em;
  height: 8px;
  background-color: #484d52;
  position: absolute;
  bottom: -4px;
  right: 0;
}

.wrapper .contenedor-principal .tabs-content .tab .column:last-child {
  padding: 80px 0;
  padding-left: 30px;
}

.wrapper .contenedor-principal .tabs-content .tab .column .title_project {
  color: #424446;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol {
  padding-left: 0;
  list-style-type: none;
  counter-reset: li;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  margin-right: 0.25em;
  line-height: 1;
  color: #484d52;
  font-size: 25px;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li a {
  line-height: 1;
  text-decoration: none;
  color: #424446;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
}

.wrapper .contenedor-edificaciones {
  background-image: url(../img/bg-inversionistas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding: 55px 5% 85px;
}

.wrapper .contenedor-edificaciones .title {
  color: white;
  font-size: 50px;
  line-height: 1;
  font-weight: bolder;
  position: relative;
  width: 100%;
  text-align: center;
}

.wrapper .contenedor-edificaciones .cont-edificaciones {
  margin-top: 50px;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item {
  position: relative;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
  position: absolute;
  bottom: 20px;
  right: -50px;
  background: #00ccff;
  padding: 30px 15px;
  max-width: 320px;
  opacity: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
  color: white;
  font-weight: 100;
  margin: 0;
  font-size: 14px;
  position: relative;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 3px;
  width: 50px;
  background: white;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item.active .cont-item .cont-info {
  opacity: 1;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav {
  margin: 0;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 10px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
  left: 185px;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
  right: 185px;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button:hover {
  background: transparent;
}

.wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
    right: -20px;
    max-width: 300px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
    font-size: 13px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
    left: 145px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
    right: 145px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper .contenedor-principal .tabs-content .tab .column {
    width: 50%;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column .image-banner img {
    width: 100%;
    height: auto;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
    padding: 20px 10px;
    right: -20px;
    max-width: 300px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
    font-size: 13px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
    left: 70px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
    right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper .contenedor-principal {
    padding: 60px 35px;
    padding-top: 160px;
  }
  .wrapper .contenedor-principal .tabs-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .contenedor-principal .tabs-options .item:before {
    display: none;
  }
  .wrapper .contenedor-principal .tabs-content .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .contenedor-principal .tabs-content .tab.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column {
    width: 100%;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column .image-banner img {
    width: 100%;
    height: auto;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column:first-child {
    padding-right: 0;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column:last-child {
    padding: 30px 0;
    padding-left: 0;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column .title_project {
    font-size: 22px;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column ol li:before {
    font-size: 20px;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column ol li a {
    font-size: 16px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
    padding: 10px 5px;
    right: 0;
    bottom: 0;
    max-width: 260px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
    font-size: 10px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p::after {
    display: none;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav {
    margin-top: 20px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button {
    position: inherit;
    top: inherit;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 5px;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
    left: inherit;
  }
  .wrapper .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
    right: inherit;
  }
}
