@charset "UTF-8";
.wrapper .contenedor-principal {
  background-image: url(../img/bg-contact.jpg);
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 80px 90px 100px;
  overflow: hidden;
  padding-top: 160px;
}

.wrapper .contenedor-principal .title:before {
  content: attr(data-text);
}

.wrapper .contenedor-principal .tabs-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 40px;
}

.wrapper .contenedor-principal .tabs-options .item {
  padding: 15px 20px;
  padding-right: 30px;
  margin: 0px 10px;
  margin-left: 15px;
  color: #3f4143;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-left: 0px;
}

.wrapper .contenedor-principal .tabs-options .item.active {
  font-weight: bolder;
}

.wrapper .contenedor-principal .tabs-options .item:after {
  content: '»';
  margin-right: 0.25em;
  line-height: 1;
  color: #35b1e5;
  top: -6px;
  left: -110%;
  opacity: 1;
  width: calc(100% - 20px);
  height: 100%;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: 100;
  border-bottom: 3px solid #3f4143;
}

.wrapper .contenedor-principal .tabs-options .item:before {
  content: '';
  width: 2px;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 0px;
  background-color: #3f4143;
}

.wrapper .contenedor-principal .tabs-options .item:last-child::before {
  background-color: #0000;
}

.wrapper .contenedor-principal .tabs-options .item:hover:after {
  left: -5px;
}

.wrapper .contenedor-principal .tabs-content .tab {
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  opacity: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
  margin: 0 auto;
}

.wrapper .contenedor-principal .tabs-content .tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child {
  width: 46%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child img {
  width: 100%;
  max-height: 400px;
  visibility: hidden;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child .image-banner {
  position: relative;
}

.wrapper .contenedor-principal .tabs-content .tab .column:first-child .image-banner::before {
  content: '';
  width: 4em;
  height: 8px;
  background-color: #484d52;
  position: absolute;
  bottom: -4px;
  right: 0;
}

.wrapper .contenedor-principal .tabs-content .tab .column:last-child {
  width: 47%;
  padding: 80px 0;
}

.wrapper .contenedor-principal .tabs-content .tab .column .title_project {
  color: #424446;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol {
  padding-left: 0;
  list-style-type: none;
  counter-reset: li;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  margin-right: 0.25em;
  line-height: 1;
  color: #484d52;
  font-size: 25px;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li:after {
  content: '»';
  margin-right: 0.25em;
  line-height: 1;
  color: #35b1e5;
  top: -3px;
  left: -35px;
  opacity: 0;
  width: 20px;
  height: 100%;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li a {
  line-height: 1;
  text-decoration: none;
  color: #424446;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li a:after {
  content: '';
  bottom: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #484d52;
  padding-bottom: 10px;
  font-weight: bolder;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li:hover:after {
  left: -25px;
  opacity: 1;
}

.wrapper .contenedor-principal .tabs-content .tab .column ol li:hover a::after {
  left: 0;
}

.wrapper .contenedor-galerias .contenedor-edificaciones {
  background-image: url(../img/bg-inversionistas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 5% 100px;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .titles .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .titles .title img {
  width: auto;
  height: 45px;
  margin-right: 10px;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .titles .title:before {
  content: attr(data-text);
  width: 100%;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .titles .title.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones {
  margin-top: 50px;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item {
  position: relative;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-img img {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
  position: absolute;
  bottom: 20px;
  right: -50px;
  background: #35b1e5;
  padding: 30px 15px;
  max-width: 320px;
  opacity: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
  color: white;
  font-weight: 100;
  margin: 0;
  font-size: 14px;
  position: relative;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 3px;
  width: 50px;
  background: white;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item.active .cont-item .cont-info {
  opacity: 1;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav {
  margin: 0;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 10px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
  left: 185px;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
  right: 185px;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button:hover {
  background: transparent;
}

.wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
    right: -20px;
    max-width: 300px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
    font-size: 13px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
    left: 145px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
    right: 145px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper .contenedor-principal .tabs-content .tab {
    width: 100%;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column .image-banner img {
    width: 100%;
    height: auto;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
    padding: 20px 10px;
    right: -20px;
    max-width: 300px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
    font-size: 13px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
    left: 70px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
    right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper .contenedor-principal {
    padding: 60px 35px;
    padding-top: 160px;
  }
  .wrapper .contenedor-principal .tabs-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .contenedor-principal .tabs-options .item:before {
    display: none;
  }
  .wrapper .contenedor-principal .tabs-options .item:hover {
    background: transparent;
    color: #3f4143;
  }
  .wrapper .contenedor-principal .tabs-content .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .wrapper .contenedor-principal .tabs-content .tab.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column {
    width: 100% !important;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column .image-banner img {
    width: 100%;
    height: auto;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column:first-child {
    padding-right: 0;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column:last-child {
    padding: 30px 0;
    padding-left: 0;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column .title_project {
    font-size: 22px;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column ol li:before {
    font-size: 20px;
  }
  .wrapper .contenedor-principal .tabs-content .tab .column ol li a {
    font-size: 16px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .titles .title:before {
    display: none;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info {
    padding: 10px;
    right: 0;
    bottom: 0;
    max-width: 260px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p {
    font-size: 10px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-stage .owl-item .cont-item .cont-info p::after {
    display: none;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav {
    margin-top: 20px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button {
    position: inherit;
    top: inherit;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 5px;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-prev {
    left: inherit;
  }
  .wrapper .contenedor-galerias .contenedor-edificaciones .cont-edificaciones .owl-nav button.owl-next {
    right: inherit;
  }
}
