@media screen and (min-width: 300px) {
    footer {
        z-index: 1000;
        position: relative;
        padding: 35px 15px 60px;
        min-height: 40px;
        background-color: #3f4143;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        font-weight: 100;

        a, a > span.has-white-color {
            text-decoration: none;
            transition: color 400ms;

            &:hover {
                color: #4eadd7;
                filter: saturate(3);
            }
        }

        p, a {
            color: white;
            font-size: 18px;
        }

        .menu {
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                a {
                    font-size: 18px;
                    font-weight: thin;
                    color: white;
                    text-decoration: none;
                    transition: color 400ms;
                }
            }
        }

        .column {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        flex-direction: row;
        font-size: $footerFZ;

        a, a > span.has-white-color {
            &:hover {
                color: #4eadd7;
                filter: saturate(3);
            }
        }

        p, a {
            font-size: $footerFZ;
            text-align: left;
        }

        .menu {
            li {
                text-align: left;

                a {
                    font-size: $footerFZ;

                    &:hover {
                        color: #4eadd7;
                    }
                }
            }
        }

        .column {
            padding: 0px 20px;
            min-width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                border-right: $border-width solid white;
            }

            &:last-child {
                border-left: $border-width solid white;
            }
        }
    }
}
