.wrapper {
    .social-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 3px;
            padding: 3px;
            border-radius: 3px;
            transition: background 400ms;
            filter: saturate(3);

            img {
                width: 100%;
                max-width: 20px;
            }

            &:hover {
                background-color: #3fb0e4;
            }
        }
    }
}

footer {
    .social-container {
        display: flex;
        align-items: stretch;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
            padding: 3px;
            border-radius: 3px;
            transition: background 400ms;
            filter: saturate(3);

            img {
                width: 100%;
                max-width: 20px;
            }

            &:hover {
                background-color: #4eadd7;
            }
        }
    }
}
