$border-width: 2px;
$footerFZ: 13px;
$max-width: 1280px;


@import "render";
//HOME

@media screen and (min-width: 300px) {
    .wrapper {
        position: relative;
        margin: 0;

        .main-content {
            // tira de logos
            .middle-logos-cont {
                width: 100%;
                height: auto;
                padding: 120px 0;
                padding-top: 60px;
                background: white;
                //background-color: #3fb0e4;
                //filter: saturate(3);

                .container {
                    background-color: #fff;
                    width: 90%;
                    max-width: $max-width;
                    margin: 0 auto;
                    height: auto;
                    padding: 0 20px;
                    align-items: center;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;

                    .title {
                        color: #0099cc;
                        font-size: 30px;
                        font-weight: 900;
                        filter: saturate(1.2);
                    }

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 240px;
                        padding: 12px 35px;
                        background: transparent;
                        border: 2px solid #515151;
                        color: #515151;
                        font-size: 22px;
                        text-decoration: none;
                        border-radius: 25px;
                        margin: 0 auto;
                        transition: all .3s;
                        &:hover{
                            color: white;
                            background: #515151;
                            border-radius: 0;
                        }
                    }

                    .logos {
                        margin: 0 auto;
                        margin-top: 40px;

                        img {
                            display: block;
                            max-height: 50px;
                            max-width: 120px;
                            margin: 60px auto;
                        }
                    }
                }
            }

            // grid de posts
            .grid-container {
                background-image: url(../img/home-bottom-bg.jpg);
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
                padding: 80px 20px;

                .grid-posts {
                    margin: 0 auto;
                    max-width: $max-width;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    position: relative;
                    margin-bottom: 60px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 30%;
                        z-index: 0;
                        width: 100%;
                        height: 70%;
                        border-radius: 50%;
                        background-color: rgba(black, 0.3);
                        filter: blur(20px);
                    }

                    .item {
                        text-decoration: none;
                        margin: 10px;
                        width: calc(50% - 20px);
                        height: 280px;
                        background-image: url(../img/slider-bg.jpg);
                        background-position: center;
                        display: flex;
                        align-items: flex-end;
                        position: relative;

                        .title-box {
                            height: auto;
                            padding: 10px 15px;
                            background-color: #f9f9f9;
                            position: relative;
                            transition: opacity 200ms ease;
                            width: 100%;

                            .title {
                                font-size: 24px;
                                font-weight: bold;
                                line-height: 1.2;
                                color: #515151;
                            }

                            .desc {
                                display: none;
                            }
                        }

                        .overlay {
                            position: absolute;
                            height: 100%;
                            max-height: 85px;
                            width: 100%;
                            bottom: 0;
                            opacity: 0;
                            padding: 20px;
                            left: 0%;
                            z-index: 10;
                            background-color: #f9f9f9;
                            color: black;
                            transition: max-height 200ms linear, left 400ms ease 500ms, width 0ms linear;
                            display: flex;
                            align-items: center;

                            .title {
                                opacity: 0;
                                font-size: 32px;
                                font-weight: bold;
                                line-height: 1.2;
                                color: #515151;
                                transition: opacity 400ms ease-in-out 350ms;
                            }

                            .desc {
                                font-weight: 100;
                                opacity: 0;
                                font-size: 20px;
                                color: #adadad;
                                transition: opacity 400ms ease-in-out 450ms;
                                line-height: 1.1;
                            }
                        }
                    }
                }

                .contact-block {
                    padding: 30px;
                    margin: 0 auto;
                    margin-top: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    color: white;
                    position: relative;
                    flex-direction: column;
                    max-width: 1100px;
                    margin: 0 auto;

                    &:before {
                        content: '';
                        height: 100%;
                        width: 100%;
                        background: rgb(35, 155, 208);
                        background: linear-gradient(90deg, rgba(35, 155, 208, 0.85) 0%, rgba(0, 128, 182, 0.85) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        border-radius: 20px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 90%;
                        left: 15%;
                        z-index: 0;
                        width: 70%;
                        height: 20%;
                        border-radius: 50%;
                        background-color: rgba(#000, 0.2);
                        -webkit-filter: blur(20px);
                        filter: blur(20px);
                    }

                    .column {
                        z-index: 10;

                        &:first-child {
                            .titlee {
                                font-weight: 900;
                                font-size: 30px;
                            }

                            .desc {
                                margin-top: 10px;
                                font-weight: 100;
                                font-size: 18px;
                            }
                        }

                        &:last-child {
                            label {
                                font-weight: 100;
                            }

                            input {
                                border: none;
                                border-radius: 10px;
                                height: 35px;
                                background-color: #fff;
                                padding: 5px;
                                width: 100%;
                            }

                            input[type="submit"] {
                                appearance: none;
                                padding: 2px 20px;
                                font-weight: 900;
                                color: white;
                                font-size: 18px;
                                //background: linear-gradient(#45b5e8, #1489be);
                                background: #35b1e5;
                                box-shadow: 0 0 0 0 #35b1e5;
                                //box-shadow: 0 0 0 0 #0080b6;
                                //filter: saturate(3);
                                width: fit-content;
                                cursor: pointer;
                                transition: all 300ms ease;

                                &:hover {
                                    //background: linear-gradient(#1489be, #45b5e8);
                                    background: white;
                                    color: #35b1e5;
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .side-menu {
            background-color: #191919;
            width: 110px;
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        .clip {
            background-color: #0000;
        }
/*
        .sidebar-content {
            position: fixed;
            width: 110px;
            right: 0;
            top: 0;
            z-index: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 15px;

            &.inner {
                .sidebar {
                    &:before, &:after {
                        background-color: #fff;
                    }

                    .menu {
                        li {
                            a {
                                color: white;
                            }
                        }
                    }

                    .social-container {
                        a {
                            img {
                                filter: invert(0);
                            }
                        }
                    }
                }
            }

            &:not(.inner) {
                background: #191919;
            }

            .sidebar {
                position: relative;

                .social-container {
                    a {
                        img {
                            filter: invert(0);
                        }
                    }
                }
            }

            &.stickToBottom {
                position: absolute;
                top: unset;
                bottom: 0;
                height: 100vh;
            }

            .menu {
                list-style: none;
                padding: 0;
                margin: 0;
                position: relative;

                li {
                    text-align: right;
                    margin: 16px 0;

                    a {
                        padding: 1px 5px;
                        font-size: 13px;
                        font-weight: 100;
                        color: #fff;
                        text-decoration: none;
                        transition: background 400ms;

                        &:hover {
                            background-color: #4eadd7;
                        }
                    }
                }
            }
        }
*/
        .main-content {
            width: calc(100% - 90px);

            // tira de logos
            .middle-logos-cont {
                width: 100%;
                height: auto;
                //background-color: #3fb0e4;
                //filter: saturate(3);

                .container {
                    background-color: #fff;
                    width: 90%;
                    max-width: $max-width;
                    margin: 0 auto;
                    height: auto;
                    padding: 0 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;

                    .title {
                        color: #0099cc;
                        font-size: 30px;
                        font-weight: 900;
                        filter: saturate(1.2);
                    }

                    .logos {
                        margin: 0 auto;
                        margin-top: 40px;
                        display: flex;
                        align-items: center;
                        width: 70%;
                        justify-content: space-between;

                        img {
                            max-height: 60px;
                            max-width: 130px;
                            margin: 0;
                        }
                    }
                }
            }

            // grid de posts
            .grid-container {
                background-image: url(../img/home-bottom-bg.jpg);
                background-position: center;
                background-size: cover;
                padding: 80px 20px;

                .grid-posts {
                    margin: 0 auto;
                    width: 90%;
                    max-width: $max-width;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 30%;
                        z-index: 0;
                        width: 100%;
                        height: 70%;
                        border-radius: 50%;
                        background-color: rgba(black, 0.3);
                        filter: blur(20px);
                    }

                    .item {
                        text-decoration: none;
                        margin: 10px;
                        width: calc(33% - 20px);
                        height: 280px;
                        background-image: url(../img/slider-bg.jpg);
                        background-position: center;
                        display: flex;
                        align-items: flex-end;
                        position: relative;

                        .title-box {
                            height: 85px;
                            padding: 10px 15px;
                            background-color: #f9f9f9;
                            position: relative;
                            transition: opacity 200ms ease;

                            .title {
                                font-size: 24px;
                                font-weight: bold;
                                line-height: 1.2;
                                color: #515151;
                            }

                            .desc {
                                color: #adadad;
                                font-size: 12px;
                                line-height: 1;
                            }
                        }

                        .overlay {
                            position: absolute;
                            height: 100%;
                            max-height: 85px;
                            width: 100%;
                            bottom: 0;
                            opacity: 0;
                            padding: 20px;
                            left: 0%;
                            z-index: 10;
                            background-color: #f9f9f9;
                            color: black;
                            transition: max-height 200ms linear, left 400ms ease 500ms, width 0ms linear;
                            display: flex;
                            align-items: center;
                            overflow: hidden;

                            .title {
                                opacity: 0;
                                font-size: 32px;
                                font-weight: bold;
                                line-height: 1.2;
                                color: #515151;
                                transition: opacity 400ms ease-in-out 350ms;
                            }

                            .desc {
                                font-weight: 100;
                                opacity: 0;
                                font-size: 20px;
                                color: #adadad;
                                transition: opacity 400ms ease-in-out 450ms;
                                line-height: 1.1;
                            }
                        }

                        &:hover {
                            .title-box {
                                opacity: 0;
                            }

                            .overlay {
                                max-height: 300px;
                                opacity: 1;
                                width: calc(100% + 20px);
                                left: calc(-100% - 20px);

                                .title {
                                    opacity: 1;
                                }

                                .desc {
                                    opacity: 1;
                                }
                            }
                        }

                        &:hover:not(:nth-child(3n)) {
                            .overlay {
                                left: 100%;
                            }
                        }
                    }
                }

                .contact-block {
                    padding: 20px 40px;
                    width: 90%;
                    margin: 0 auto;
                    margin-top: 80px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    color: white;
                    position: relative;

                    &:before {
                        content: '';
                        height: 100%;
                        width: 100%;
                        background: rgb(35, 155, 208);
                        background: linear-gradient(90deg, rgba(35, 155, 208, 0.85) 0%, rgba(0, 128, 182, 0.85) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        border-radius: 20px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 90%;
                        left: 15%;
                        z-index: 0;
                        width: 70%;
                        height: 20%;
                        border-radius: 50%;
                        background-color: rgba(#000, 0.2);
                        -webkit-filter: blur(20px);
                        filter: blur(20px);
                    }

                    .column {
                        z-index: 10;

                        &:first-child {
                            width: 60%;
                            padding-right: 30px;

                            .titlee {
                                font-weight: 900;
                                font-size: 30px;
                            }

                            .desc {
                                margin-top: 10px;
                                font-weight: 100;
                                font-size: 18px;
                            }
                        }

                        &:last-child {
                            width: 40%;

                            label {
                                font-weight: 100;
                            }

                            input {
                                border: none;
                                border-radius: 10px;
                                height: 35px;
                                background-color: #fff;
                                padding: 5px;
                                width: 100%;
                            }

                            input[type="submit"] {
                                appearance: none;
                                padding: 2px 20px;
                                font-weight: 900;
                                color: white;
                                font-size: 18px;
                                //background: linear-gradient(#45b5e8, #1489be);
                                background: #35b1e5;
                                box-shadow: 0 0 0 0 #35b1e5;
                                //box-shadow: 0 0 0 0 #0080b6;
                                //filter: saturate(3);
                                width: fit-content;
                                cursor: pointer;
                                transition: all 300ms ease;

                                &:hover {
                                    //background: linear-gradient(#1489be, #45b5e8);
                                    background: white;
                                    color: #35b1e5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .wrapper{
        .main-content{
            .grid-container{
                .grid-posts{
                    flex-direction: column;
                    .item{
                        width: calc(100% - 20px);
                    }
                }
            }
        }
    }

}