$border-width: 2px;
$footerFZ: 13px;
$max-width: 1280px;

*, html :where(.editor-styles-wrapper) {
    font-family: Helvetica, Arial,sans-serif;
    box-sizing: border-box;
}

html :where(.editor-styles-wrapper) {
    font-family: Helvetica, Arial,sans-serif !important;
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        position: relative;
        margin: 0;

        .main-content{
            .wrapper-sec{
                width: 100%;
                padding-right: 90px;
                background: #232323;
            }
        }

        .thumbnail_banner {
            height: 100vh;
            width: 100%;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 90px;
            overflow: hidden;

            .title_banner {
                color: white;
                font-weight: 800;
                font-size: 80px;
                position: relative;

                &:before {
                    content: attr(data-text);
                    position: absolute;
                    font-weight: bold;
                    font-size: 100px;
                    width: 1000%;
                    top: -5px;
                    left: -60px;
                    color: #0000;
                    letter-spacing: -5px;
                    line-height: 1;
                    -webkit-text-fill-color: transparent;
                    stroke-width: 1px;
                    -moz-text-fill-color: transparent;
                    -webkit-text-fill-color: #0000;
                    -webkit-text-stroke-color: white;
                    -moz-text-stroke-width: 1px;
                    -webkit-text-stroke-width: 1px;
                    opacity: 0.5;
                }
            }
        }

        .clip {
            position: absolute;
            width: 90px;
            height: 100vh;
            top: 0;
            right: 0;
            clip: rect(0, auto, auto, 0);
            //background-color: rgba(black, 0.5);
            z-index: 9999;
        }

        .sidebar-content {
            position: fixed;
            width: 90px;
            right: 0;
            top: 0;
            z-index: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 15px;

            &.inner {
                .sidebar {
                    &:before, &:after {
                        background-color: #3f4143;
                    }

                    .menu {
                        li {
                            a {
                                color: #3f4143;
                            }
                        }
                    }

                    .social-container {
                        a {
                            img {
                                filter: invert(1);
                            }
                        }
                    }
                }
            }

            &.stickToBottom {
                position: absolute;
                top: unset;
                bottom: 0;
                height: 100vh;
            }

            .sidebar {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    bottom: calc(100% + 50px);
                    right: 0;
                    background-color: #fff;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    top: calc(100% + 50px);
                    right: 0;
                    background-color: #fff;
                }
            }

            .menu {
                list-style: none;
                padding: 0;
                margin: 0;
                position: relative;

                li {
                    text-align: right;
                    margin: 16px 0;

                    a {
                        padding: 1px 5px;
                        font-size: 13px;
                        font-weight: 100;
                        color: white;
                        text-decoration: none;
                        transition: background 400ms;

                        &:hover {
                            background-color: #4eadd7;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .wrapper {
        position: relative;
        margin: 0;

        .clip {
            display: none;
        }

        .sidebar-content {
            width: 100vw;
            height: 100vh;
            background: #3f4143;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            right: -100%;
            transition: all .3s;

            .sidebar {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    bottom: calc(100% + 50px);
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    background-color: #fff;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    top: calc(100% + 50px);
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    background-color: #fff;
                }

            }

            .menu {
                list-style: none;
                padding: 0;
                text-align: center;
                li {
                    margin: 16px 0;

                    a {
                        padding: 1px 5px;
                        font-size: 13px;
                        font-weight: 100;
                        color: white;
                        text-decoration: none;
                        transition: background 400ms;

                        &:hover {
                            background-color: #4eadd7;
                        }
                    }
                }
            }
            &.active{
                right: 0%;
            }
        }
        .cont-burguer {
            position: absolute;
            right: 30px;
            top: 30px;
            z-index: 1000;
            .burguer {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 1000;
                cursor: pointer;
                span {
                    width: 90%;
                    height: 2px;
                    margin: 4px 2px;
                    background-color: red;
                    transition: transform 400ms ease;
                }

                &.active {
                    span {
                        &:nth-child(1) {
                            transform: rotateZ(45deg) translate3d(3px, 3px, 0);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-45deg) translate3d(4px, -4px, 0);
                        }
                    }
                }
            }
        }
    }
}

@import "header";
@import "footer";
@import "social_widget";
