$border-width: 2px;
$footerFZ: 13px;
$max-width: 1280px;

*, html :where(.editor-styles-wrapper) {
    font-family: Helvetica, Arial,sans-serif;
    box-sizing: border-box;
}

html :where(.editor-styles-wrapper) {
    font-family: Helvetica, Arial,sans-serif !important;
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        position: relative;
        margin: 0;

        .thumbnail_banner {
            height: 100vh;
            width: 100%;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 90px;
            overflow: hidden;
            z-index: 10;
            position: relative;
            clip: rect(0, auto, auto, 0);

            .title_banner {
                color: white;
                font-weight: 800;
                font-size: 80px;
                position: relative;

                &:before {
                    content: attr(data-text);
                    position: absolute;
                    font-weight: bold;
                    font-size: 100px;
                    width: 1000%;
                    top: -5px;
                    left: -60px;
                    color: #0000;
                    letter-spacing: -5px;
                    line-height: 1;
                    -webkit-text-fill-color: transparent;
                    stroke-width: 1px;
                    -moz-text-fill-color: transparent;
                    -webkit-text-fill-color: #0000;
                    -webkit-text-stroke-color: white;
                    -moz-text-stroke-width: 1px;
                    -webkit-text-stroke-width: 1px;
                    opacity: 0.5;
                }
            }
        }

        .clip {
            position: absolute;
            width: 90px;
            height: 100vh;
            top: 0;
            right: 0;
            clip: rect(0, auto, auto, 0);
            background-color: rgba(black, 0.5);
            z-index: 9999;
        }

        .sidebar-content {
            position: fixed;
            width: 90px;
            right: 0;
            top: 0;
            z-index: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 15px;

            &.inner {
                .sidebar {
                    &:before, &:after {
                        background-color: #fff;
                    }

                    .menu {
                        li {
                            a {
                                color: white;
                            }
                        }
                    }

                    .social-container {
                        a {
                            img {
                                filter: invert(0);
                            }
                        }
                    }
                }
            }

            &.stickToBottom {
                position: absolute;
                top: unset;
                bottom: 0;
                height: 100vh;
            }

            .sidebar {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    bottom: calc(100% + 50px);
                    right: 0;
                    background-color: #3f4143;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: 220px;
                    width: 2px;
                    top: calc(100% + 50px);
                    right: 0;
                    background-color: #3f4143;
                }
            }

            .menu {
                list-style: none;
                padding: 0;
                margin: 0;
                position: relative;

                li {
                    text-align: right;
                    margin: 16px 0;

                    a {
                        padding: 1px 5px;
                        font-size: 13px;
                        font-weight: 100;
                        color: #3f4143;
                        text-decoration: none;
                        transition: background 400ms;

                        &:hover {
                            background-color: #4eadd7;
                        }
                    }
                }
            }
        }
    }
}

@import "header";
@import "footer";
@import "social_widget";
