$border-width: 2px;
$footerFZ: 13px;

* {
    font-family: Helvetica, Arial,sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    .site-logo {
        max-width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

footer {
    padding: 35px 15px 60px;
    min-height: 40px;
    background-color: #3f4143;
    column-count: 5;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    a, a > span.has-white-color {
        text-decoration: none;
        transition: color 400ms;

        &:hover {
            color: #4eadd7;
        }
    }

    p, a {
        color: white;
        font-size: $footerFZ;
    }

    .menu {
        li {
            list-style: none;

            a {
                font-size: $footerFZ;
                font-weight: thin;
                color: white;
                text-decoration: none;
                transition: color 400ms;

                &:hover {
                    color: #4eadd7;
                }
            }
        }
    }

    .column {
        padding: 0px 20px;
        min-width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
            border-right: $border-width solid white;
        }

        &:last-child {
            border-left: $border-width solid white;
        }
    }
}

@import "social_widget";
