.wrapper {

    .contenedor-principal {
        background-image: url(../img/bg-contact.jpg);
        background-position: center bottom;
        min-height: 100vh;
        padding: 80px 90px 100px;
        overflow: hidden;
        padding-top: 160px;

        .title {
            &:before {
                content: attr(data-text);
            }
        }

        .tabs-options {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 80px 0 40px;

            .item {
                padding: 5px 10px;
                margin: 0px 8px;
                color: #3f4143;
                font-weight: 100;
                cursor: pointer;
                transition: all .3s;
                text-transform: uppercase;
                position: relative;

                &.active {
                    font-weight: bolder;
                }

                &:before {
                    content: '';
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: -6px;
                    background-color: #3f4143;
                }

                &:last-child {
                    &::before {
                        background-color: #0000;
                    }
                }

                &:hover {
                    color: white;
                    background-color: #35b1e5;
                }
            }
        }

        .tabs-content {
            .tab {
                display: none;
                align-items: stretch;
                opacity: 0;
                justify-content: space-between;
                width: 83%;
                margin: 0 auto;

                &.active {
                    display: flex;
                }

                .column {
                    &:first-child {
                        width: 46%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        img{
                            width: 100%;
                            visibility: hidden;
                        }

                        .image-banner {
                            position: relative;

                            &::before {
                                content: '';
                                width: 4em;
                                height: 8px;
                                background-color: #484d52;
                                position: absolute;
                                bottom: -4px;
                                right: 0;
                            }
                        }
                    }

                    &:last-child {
                        width: 47%;
                        padding: 80px 0;
                    }

                    .title_project {
                        color: #424446;
                        font-weight: bolder;
                        font-size: 30px;
                        text-transform: uppercase;
                    }

                    ol {
                        padding-left: 0;
                        list-style-type: none;
                        counter-reset: li;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            &:before {
                                counter-increment: li;
                                content: counter(li, decimal-leading-zero);
                                margin-right: 0.25em;
                                line-height: 1;
                                color: #484d52;
                                font-size: 25px;
                            }

                            a {
                                line-height: 1;
                                text-decoration: none;
                                color: #424446;
                                font-weight: 100;
                                font-size: 20px;
                                text-transform: uppercase;
                                transition: all .3s;
                            }
                            &:hover{
                                a{
                                    color: #35b1e5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .contenedor-galerias{
        .contenedor-edificaciones{
            background-image: url(../img/bg-inversionistas.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
            padding: 80px 5% 100px;
            .titles{
                .title {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;
                    img{
                        width: auto;
                        height: 45px;
                        margin-right: 10px;
                    }
                    &:before {
                        content: attr(data-text);
                        width: 100%;
                    }
                    &.active{
                        display: flex !important;
                    }
                }
            }
            .cont-edificaciones{
                margin-top: 50px;
                .owl-stage{
                    .owl-item{
                        transform: scale(.75);
                        transition: all .3s;
                        .cont-item{
                            position: relative;
                            .cont-img{
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                img{
                                    width: 100%;
                                    height: auto;
                                    visibility: hidden;
                                }
                            }
                            .cont-info{
                                position: absolute;
                                bottom: 20px;
                                right: -50px;
                                background: #35b1e5;
                                padding: 30px 15px;
                                max-width: 320px;
                                opacity: 0;
                                box-shadow: rgba(0, 0, 0, .7) 0px 4px 12px;
                                transition: all .3s;
                                p{
                                    color: white;
                                    font-weight: 100;
                                    margin: 0;
                                    font-size: 14px;
                                    position: relative;
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        bottom: -6px;
                                        left: 0;
                                        height: 3px;
                                        width: 50px;
                                        background: white;
                                    }
                                }
                            }
                        }
                        &.active{
                            transform: scale(1);
                            .cont-item{
                                .cont-info{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    margin: 0;
                    button {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                        margin: 0;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: calc(50% - 10px);
                        transform: translateY(-50%);
                        transition: all 0.3s;
                        &.owl-prev {
                            //left: -35px;
                            left: 185px;
                        }
                        &.owl-next {
                            //right: -35px;
                            right: 185px;
                        }
                        img {
                            width: 100%;
                            height: auto;
                            transition: all 0.3s;
                        }
                        &:hover {
                            background: transparent;
                            img {
                                transform: scale(0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    
    .wrapper{
        .contenedor-galerias{
            .contenedor-edificaciones{
                .cont-edificaciones{
                    .owl-stage{
                        .owl-item{
                            .cont-item{
                                .cont-info{
                                    right: -20px;
                                    max-width: 300px;
                                    p{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        button {
                            &.owl-prev {
                                left: 145px;
                            }
                            &.owl-next {
                                right: 145px;
                            }
                        }
                    }
                }
            }
        }
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px){

    .wrapper{
        .contenedor-principal {
            .tabs-content {
                .tab {
                    width: 100%;
                    .column {
                        .image-banner{
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        .contenedor-galerias{
            .contenedor-edificaciones{
                .cont-edificaciones{
                    .owl-stage{
                        .owl-item{
                            transform: scale(.85);
                            .cont-item{
                                .cont-info{
                                    padding: 20px 10px;
                                    right: -20px;
                                    max-width: 300px;
                                    p{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        button {
                            &.owl-prev {
                                left: 70px;
                            }
                            &.owl-next {
                                right: 70px;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 767px){

    .wrapper{
        .contenedor-principal {
            padding: 60px 35px;
            padding-top: 160px;
    
            .tabs-options {
                flex-direction: column;
                .item {
                    &:before {
                        display: none;
                    }
                    &:hover{
                        background: transparent;
                        color: #3f4143;
                    }
                }
            }
    
            .tabs-content {
                .tab {
                    flex-direction: column;
                    width: 100%;
    
                    &.active {
                        display: flex;
                    }
    
                    .column {
                        width: 100% !important;
                        .image-banner{
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                        &:first-child {
                            padding-right: 0;
                        }
    
                        &:last-child {
                            padding: 30px 0;
                            padding-left: 0;
                        }
    
                        .title_project {
                            font-size: 22px;
                        }
                        ol {
                            li {
                                &:before {
                                    font-size: 20px;
                                }
                                a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .contenedor-galerias{
            .contenedor-edificaciones{   
                .titles{
                    .title {
                        &:before {
                            display: none;
                        }
                    }
                }
                .cont-edificaciones{
                    .owl-stage{
                        .owl-item{
                            transform: scale(1);
                            .cont-item{
                                .cont-info{
                                    padding: 10px;
                                    right: 0;
                                    bottom: 0;
                                    max-width: 260px;
                                    p{
                                        font-size: 10px;
                                        &::after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        margin-top: 20px;
                        button {
                            position: inherit;
                            top: inherit;
                            transform: unset;
                            margin: 0 5px;
                            &.owl-prev {
                                left: inherit;
                            }
                            &.owl-next {
                                right: inherit;
                            }
                        }
                    }
                }
            }
        }
    }

}