.wrapper {
    header {
        position: relative;
    }

    .main-content {
        background-image: url(../img/bg-contact.jpg);
        background-position: center bottom;
        min-height: calc(100vh - 200px);
        padding: 60px 90px;
        overflow: hidden;

        .title {
            color: #3f4143;
            font-size: 50px;
            line-height: 1;
            font-weight: bolder;
            position: relative;
            width: 100%;

            &:before {
                content: attr(data-text);
                position: absolute;
                font-weight: bold;
                font-size: 93px;
                width: 1000%;
                top: -35px;
                left: -70px;
                color: #0000;
                letter-spacing: -5px;
                line-height: 1;
                -webkit-text-fill-color: transparent;
                stroke-width: 1px;
                -moz-text-fill-color: transparent;
                -webkit-text-fill-color: #0000;
                -webkit-text-stroke-color: #3f4143;
                -moz-text-stroke-width: 1px;
                -webkit-text-stroke-width: 1px;
                opacity: 0.3;
            }
        }

        .tabs-options {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0;

            .item {
                padding: 5px 10px;
                margin: 0px 8px;
                color: #3f4143;
                font-weight: 100;
                cursor: pointer;
                transition: all 300ms linear;
                filter: saturate(3);
                text-transform: uppercase;

                &.active {
                    font-weight: bolder;
                }

                &:before {
                    content: '';
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: -6px;
                    background-color: #3f4143;
                }

                &:last-child {
                    &::before {
                        background-color: #0000;
                    }
                }

                &:hover {
                    color: white;
                    background-color: #3fb0e4;
                }
            }
        }

        .tabs-content {
            .tab {
                display: none;
                align-items: stretch;
                opacity: 0;

                &.active {
                    display: flex;
                }

                .column {
                    &:first-child {
                        padding-right: 30px;

                        .image-banner {
                            position: relative;

                            &::before {
                                content: '';
                                width: 4em;
                                height: 8px;
                                background-color: #484d52;
                                position: absolute;
                                bottom: -4px;
                                right: 0;
                            }
                        }
                    }

                    &:last-child {
                        padding: 80px 0;
                        padding-left: 30px;
                    }

                    .title_project {
                        color: #424446;
                        font-weight: bolder;
                        font-size: 30px;
                        text-transform: uppercase;
                    }

                    ol {
                        padding-left: 0;
                        list-style-type: none;
                        counter-reset: li;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            &:before {
                                counter-increment: li;
                                content: counter(li, decimal-leading-zero);
                                margin-right: 0.25em;
                                line-height: 1;
                                color: #484d52;
                                font-size: 25px;
                            }

                            a {
                                line-height: 1;
                                text-decoration: none;
                                color: #424446;
                                font-weight: 100;
                                font-size: 20px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}
